[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-mail = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
pymysql = "*"
flask-login = "*"
flask-wtf = "*"

[requires]
python_version = "3.6"
